header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(129, 241, 205);
    border-radius: 5px;
    text-align: center;
    font-size: 24px; /* Decreased font size for better mobile display */
    color: white;
    margin-top: -1%;
}

body {
    background-color: rgb(215, 244, 227);
    color: rgb(21, 106, 95);
    font-size: 16px; /* Decreased font size for better mobile display */
}

.info1 {
    background-color: rgb(130, 233, 188);
    border: 2px solid rgb(134, 204, 196); /* Fixed border shorthand */
    border-radius: 5px;
    width: calc(33.33% - 10px);
    margin: 0 5px;
    background-color: #a9fae8;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.container {
    width: 100%;
    display: flex; /* Ensure desktop layout */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.ad {
    width: 25%;
    height: auto;
    vertical-align: middle;
    padding: 1%;
}

.dwnldimg {
    width: auto;
    height: 40px;
    padding: 1%;
}

.dwnld {
    border-radius: 5px;
    border: none;
    background-color: green;
    padding: 10px 20px; /* Adjusted padding for better button size */
    color: white;
    font-size: 16px;
    margin-left: auto;
}

/* Adjust download button size for mobile */
@media screen and (max-width: 480px) {
    .info1 {
        width: 100%; /* Adjusted width for full width on mobile */
        margin: 0 0 10px 0; /* Adjusted margin for better spacing on mobile */
    }
    .ad {
        width: 100%; /* Adjusted width for full width on mobile */
    }
    .dwnld {
        padding: 8px 16px;
        font-size: 14px;
        margin-left: auto;
    }
}

footer{
    background-color: rgb(176, 214, 221);
    color: rgb(33, 60, 46);
    padding: 2px;
}
