body {
    background-image: url("https://cdn.eyeem.com/thumb/50a6ba64833e49819c1960bf747daaeb06425a7e-1676757979366/1100/1100");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

li {
    list-style-type: none;
}

a {
    color: rgb(155, 143, 248);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(135, 135, 160, 0.512));
    color: white;
    padding: 1rem;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease-in-out;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.accimage {
    width: 25px;
    height: auto;
    padding: 5px;
}

.accimage:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    
    body {
        font-size: 50px;
    }

    .text {
        width: 90%;
        margin-top: 200px;
    }

    footer {
        font-size: 50px;
    }

    .accimage {
        width: 90px;
    }

}